$form-background: #eeeeee;
$btn-color: #00A046;
$inputBorder-color: #d5d5d5;
$error-color: #ec5a5a;


.signUp {
  &__wrapper {
    width: 600px;
    margin: 0 auto;
    background-color: $form-background;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 15px;
  }

  &__filed {
    margin-bottom: 30px;
  }

  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__input {
    outline: none;
    border: 1px solid $inputBorder-color;
    height: 25px;
    width: 200px;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);

    &:hover, &:active, &:focus {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

    }
  }

  &__error {
    margin-left: 12px;
    font-size: 16px;
    color: $error-color;
    display: inline;
  }

  &__submit {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background-color: $btn-color;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
    transition: .1s;

    &:hover {
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
      transform: scale(1.005);
    }
  }

  &__status {
    span {
      color: $error-color;
    }

    img {
      width: 40px;
    }
  }

}

@media (max-width: 720px) {
  .signUp {
    &__wrapper {
      width: 96%;
    }

    &__wrapper {
      width: 350px;
    }

    &__error {
      margin-left: 0;
      margin-top: 4px;
      display: block;
    }

    &__submit {
      flex-wrap: wrap;
    }

    &__btn {
      margin-bottom: 12px;
    }

    &__status {
      img {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 370px) {
  .signUp {
    &__wrapper {
      width: 96%;
    }

    &__wrapper {
      width: 300px;
    }
  }
}