$navMenu-background: #221F1F;
$text-color: #FFFFFF;
$a-color: #6565ec;

.navMenu {
  background-color: $navMenu-background;

  &__wrapper {
    max-width: 1360px;
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  &__logo {
    display: flex;
    align-items: center;

    .logo {

      &__img {
        width: 60px;
        margin-right: 30px;
      }

      &__text {
        color: $text-color;
        text-transform: uppercase;
        font-family: 'Ubuntu', sans-serif;
        font-size: 26px;
        font-weight: 400;
        cursor: pointer;
        transition: .1s;
        &:hover{
          transform: scale(1.05);
        }
      }
    }

  }

  &__customer {
    display: flex;
    align-items: center;

    .customer {
      &__person {
        display: flex;
        align-items: center;

        img {
          width: 40px;
          margin-right: 7px;
        }

        span {
          color: $text-color;
          font-family: 'Ubuntu', sans-serif;
          font-size: 16px;
          font-weight: 400;

          a {
            color: $a-color;
          }
        }
      }

      &__trolley {
        margin-left: 45px;
        width: 40px;
      }
    }
  }
}

@media (max-width: 500px) {
  .navMenu {
    background-color: $navMenu-background;

    &__wrapper {
      max-width: 1000px;
      width: 96%;
      margin: 0 auto;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }

    &__logo {
      .logo {
        &__img {
          display: none;
        }
      }

    }

    .customer {
      &__person {
        img {
          display: none;
        }
      }
    }

  }
}