$btn-color: #00A046;
$label-color: #959595;
$btn-background: #FFFFFF;
$cancel-color: #f05555;


.filter {
  width: 20%;
  font-family: 'Ubuntu', sans-serif;
  padding: 0 20px;
  box-sizing: border-box;
  &__buttons{
    display: flex;
    justify-content: space-between;
  }
  &__submit{
    margin-top: 30px;
    margin-right: 6px;
    width: 100%;
    color: $btn-color;
    background-color: $btn-background;
    border: 1px solid $btn-color;
    box-shadow: 0px 1px 2px 0px rgba(28, 30, 32, 0.1);
    border-radius: 3px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    outline: none;
    &:hover {
      color: $btn-background;
      background-color: $btn-color;
    }
  }
  &__reset{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    &:hover{
      transform: scale(1.05);
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      bottom: 0;
      left: 0;
      background-color:$cancel-color;
      transform: rotate(45deg);
    }
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      bottom: 0;
      left: 0;
      background-color:$cancel-color;
      transform: rotate(-45deg);
    }
  }
  &__label{
    display: inline-block;
    width: 100%;
    color:$label-color;
    font-size: 26px;
    margin-bottom: 10px;
  }
  &__input{
    outline: none;
    margin-bottom: 15px;
    border: 1px solid $btn-color;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 6px;
  }
  &__title{
    width: 100%;
    box-sizing: border-box;
  }
  &__price{
    width: 25% ;
    margin-right: 30px;
    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}